
/* font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif; */

body {
    
   
    font-family: "roboto", sans-serif;
} 

.container {
  margin: 38px;
  padding: 30px;
  /* font-family: 'Raleway', sans-serif; */
}

/* .parallax-container {
  min-height: 200px;
  line-height: 0;
  height: auto;
  background-image: url(../images/claude.jpg);
  background: cover;
} */

.card container{
 
  padding: 30px;
}

#mainCard{
  margin: 30px;
  width: 50%;
}

.page-footer{
  font-family: "roboto", "sans-serif";
  line-height: 2;
  
  padding: 30px;
}

