


body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;
   
    
} 

.nav-extended {
  padding: 30px;
  font-family: 'Lobster', cursive;

}

.socialmedia{
  margin: 20px 30px 20px 15px
  
  }

.parallax container {
  margin: 38px;
  padding: 30px;
  font-family: 'Raleway', sans-serif;
}

.collection {
  margin: 30px;
  padding: 40px;
}


.card container{
  margin: 50px;
  padding-top: 80px;
  padding-bottom: 80px;
}

#mainCard{
  margin: 30px;
  width: 50%;
}

.projects{
  
  padding: 30px;
  font-size: 40px;
  font-family: 'Lobster', cursive;
}

.aboutme {
  font-size: 40px;
  font-family: 'Lobster', cursive;
}

.contact{
  font-size: 40px;
  font-family: 'Lobster', cursive;
}
.page-footer{
  
  line-height: 2;
  font-size: 20px;
  padding: 30px;
}

