
/* font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif; */

body {
    background-image: url(../images/);
    font-family: "roboto", sans-serif;
} 

.container {
  margin: 38px;
  padding: 30px;
  /* font-family: 'Raleway', sans-serif; */
}

.card container{
 
  padding: 30px;
}

#mainCard{
  margin: 30px;
  width: 50%;
}

.page-footer{
  font-family: "roboto", "sans-serif";
  line-height: 2;

}

